* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.blue-section {
  background-color: #373867;
  color: #f0f0f0;
}
.green-section {
  background-color: #52c27f;
  color: #f0f0f0;
}
.grey-section {
  background-color: #d9d9d9;
  color: #000;
}
/*----- Header----- */
header {
  height: 159px;
  width: 930px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}
header > h1 {
  font-size: 25px;
  text-align: right;
  padding-top: 60px;
  padding-right: 50px;
}
header > img {
  height: 42px;
  width: 20px;
}
#menu-icon {
  width: 40px;
  height: 30px;
  float: left;
  padding-left: 20px;
}
/* -----Menu----- */
#menu {
    margin-top: 0%;
    padding: 2%;
    border: 1px;
    height: 427px;
    width: 1068px;
    display: none;
  }
#menu > img {
    height: 25px;
    width: 25px;
    float:inline-block;
}
/* ----- Main stat----- */

#section-1 {
  /* column-count: 2; */
  width: 1512px;
  height: 471px;
  text-align: left;
  float: none;
  display: inline-block;
  }
.text-section-1 {
  float: left;
}
.text-section > h2 {
  font-size: 80px;
}
.text-section-1 > h3 {
  font-size: 40px;
}
.text-section-1 > p {
  text-indent: 17px;
  font-size: 30px;
}

.img-section-1 {
    height: 300px;
    width: 300px;
    float:right;
    padding-right: 10px;
    margin-right: 10px;
    }

#section-2 {
    width: 1512px;
    height: 691px;
    display: inline-block;
    column-count: 2;
  }
#section-2 h3{
    width: 343px;
    height: 67px;
    border: 1px;
    border-width: 2px;
    text-align: center;
    border-style:solid;
    border-color: #000;
    border-radius: 5px;
    padding: 0px;
    margin: 5px;
  }
#section-2 p{
  border: 10px;
  text-align: center;
}
#section-2 img {
  height: 60px;
  width: 60px;
}
#Appointment-icon {
  padding-top: 30px;
  padding-left: 30px;
}
#section-3 {
  width: 930px;
  height: 515px;
}

#section-3 h4 {
  text-align: center;
  font-family: ;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#section-4{
  width: 930px;
  height: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
  }

#History{
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 10px;
  }

#section-4 p{
  font-size: 20px;
  text-indent: 10px;
  padding-left: 50px;
}

#section-5 {
  width: 930px;
  height: 190px;
  column-count: 4;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  }
.activities-list {
  padding: 25px;
  box-sizing: border-box;
  }
.black-membership-list {
  padding: 20px;
  box-sizing: border-box;
  }
.classic-membership-list {
  padding: 25px;
  box-sizing: border-box;
  }
.only-membership-list {
  padding: 25px;
  box-sizing: border-box;
  }

footer {
  width: 930px;
  height: 100px;
  color: #000;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  }
footer > p {
  float: left;
  font-size: 20px;
  width: 500px;
  height: 60px;
  top: 10px;
  padding-left: 10px;
  padding-top: 40px;
  } 
footer > a > img {
  height: 55px;
  width: 55px;
  padding: 10px;
  float: right;
  }