*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.blue-section {
    background-color: #373867;
    color: #f0f0f0;
}
.green-section {
    background-color: #52c27f;
    color: #f0f0f0;
}
.grey-section {
    background-color: #d9d9d9;
    color: #000;
}
header {
    height: 159px;
    width: 1512px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    text-align: right;
    overflow: hidden;
}
header > h1 {
  font-size: 25px;
  text-align: right;
  padding-top: 50px;
  padding-right: 50px;
}
header > img {
  height: 42px;
  width: 206px;
}
#menu-icon {
  height: 20px;
  width: 20px;
  float: left;
  padding-left: 20px;
}

#menu {
    margin-top: 0%;
    padding: 2%;
    border: 1px;
    height: 427px;
    width: 1068px;
    display: none;
  }
#menu > img {
    height: 25px;
    width: 25px;
    float:inline-block;
}
#section-1 {
  /* column-count: 2; */
  width: 1512px;
  height: 471px;
  text-align: left;
  float: none;
  display: inline-block;
  }
.text-section-1 {
  float: left;
}
.text-section > h2 {
  font-size: 80px;
}
.text-section-1 > h3 {
  font-size: 40px;
}
.text-section-1 > p {
  text-indent: 17px;
  font-size: 30px;
}

.img-section-1 {
    height: 300px;
    width: 300px;
    float:right;
    padding-right: 10px;
    margin-right: 10px;
    }

#section-2 {
    width: 1512px;
    height: 691px;
    display: inline-block;
    column-count: 2;
  }
#section-2 h3{
    width: 343px;
    height: 67px;
    border: 1px;
    border-width: 2px;
    text-align: center;
    border-style:solid;
    border-color: #000;
    border-radius: 5px;
    padding: 0px;
    margin: 5px;
  }
#section-2 p{
  border: 10px;
  text-align: center;
}
#section-2 img {
  height: 60px;
  width: 60px;
}
#Appointment-icon {
  padding-top: 30px;
  padding-left: 30px;
}
#section-3 {
  width: 1512px;
  height: 515px;
}

#section-3 h4 {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#section-4{
  width: 1512px;
  height: 364px;
  padding-bottom: 50px;
  padding-top: 50px;
  }

#History{
    text-transform: uppercase;
    font-size: 50px;
    padding-left: 10px;
  }

#section-4 p{
  font-size: 30px;
  text-indent: 10px;
  padding-left: 50px;
}

#section-5 {
  width: 1512px;
  height: 360px;
  column-count: 4;
  column-width: 300px;
  display: inline-block;
  }
  .activities-list {
  text-align: justify;
  padding: 15px;
  }

footer {
  width: 1512px;
  height: 166px;
  color: #000;
  text-align: left;
  overflow: hidden;
  }
footer > p {
  float: left;
  font-size: 20px;
  width: 500px;
  height: 60px;
  top: 10px;
  padding-left: 10px;
  padding-top: 40px;
  } 
footer > a > img {
  height: 40px;
  width: 40px;
  padding: 50px;
  margin: 20px;
  bottom: 80px;
  float: right;
  }