<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MegaRocket</title>
        <link rel="icon" href="/assets/images/Logo-rr1.jpg">
        <link rel="resetsheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <header class="blue-section header">
            <img src="/assets/images/Logo.png" alt="Megarocket-icon" class="landing" id="home"/>
        </header>
        <main class="main">
            <div class="main-draw">
                <img src="/assets/images/arrow.png" alt="back-button" id="home-page" href="/Week-06/views/index.html">
                <h1>
                    Sign in
                </h1>
                <form class="form">
                    <div class="mail-form">
                        <img src="/assets/images/envelope.png" alt="Email-icon" class="img-form">
                        <input type="email" id="mail" name="E-mail" placeholder="Complete your e-mail">
                    </div>
                    <div class="password-form">
                        <img src="/assets/images/padlock.png" alt="padlock-icon" class="img-form">
                        <input type="password" id="password" name="password" placeholder="Input your password" >
                        <a href="" class="forgot-pass">
                            Have you forgot your password?
                        </a>
                    </div>
                    <div class="checkbox-remember">
                        <input type="checkbox" id="remember-me" name="remember-me" value="yes-remember-me">
                        <label for="remember-me"> Remember me</label>
                    </div>
                    <div class="no-account">
                        <p>
                            Don't have an account?
                        </p>
                        <p class="member-link">
                            Click here to become a member
                        </p>
                    </div>
                    <input type="button" value="Login" class="loginButton">
                </form> 
            </div>
        </main>
    </body>
</html>