@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
/*-----Main-----*/
.main {
  background: #e3e6f2;
  display: flex;
  flex-direction: column;
}
.mainFrame {
  background-color: #ffffff;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: #000;
}
.home-icon {
  display: flex;
  align-self: flex-start;
}
#home-page {
  width: 30px;
  height: 30px;
  border: #b7b7b7 1px;
  border-style: groove;
  border-radius: 10%;
}
.mainFrame > h1 {
  text-align: center;
  width: 146px;
  height: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #2c8008;
}
.form {
  display: flex;
  flex-direction: column;
  color: #aace9b;
  width: 30%;
  margin-bottom: 5%;
}
.left-form {
  display: flex;
  flex-direction: column;
}
.left-form input {
  background-color: #d9d9d9;
}
.right-form {
  display: flex;
  flex-direction: column;
}
.right-form input {
  background-color: #d9d9d9;
}
.img-form {
  border-radius: 50%;
}
#buttonRegister {
  align-self: center;
  height: 60px;
  width: 200px;
  margin-bottom: 5%;
  background-color: #aace9b;
  color: #ffffff;
  border-radius: 5px;
}
.correctBorder {
  border-color: #48bf04 solid 5px;
}
.errorBorder {
  border-color: #951818 solid 5px;
  color: #951818;
}
/*------other measure------*/
@media only screen and (min-width: 1024px) {
  .header {
    left: 0px;
  }
  .form {
    flex-direction: row;
    color: #aace9b;
    justify-content: space-between;
    width: 80%;
  }
}

.error {
  border-color: #fa1313 1px;
}