/*global part*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.blue-section {
    background-color: #35365C;
    color: #f0f0f0;
}
.green-section {
    background-color: #AACE9B;
    color: #f0f0f0;
}
.grey-section {
    background-color: #d9d9d9;
    color: #000;
}
@media only screen and (min-width: 390px){
    /*------header------*/
    .header {
        height: 60px;
        overflow: hidden;
    }
    .landing {
        float: right;
        width: 200px;
        height: 40px;
        padding-right: 10px;
        padding-top: 6px;
    }
    .menu-icon {
        float: left;
        width: 42px;
        height: 33px;
        padding-left: 10px;
        padding-top: 10px;
    }
    /*-----Menu-----*/
    .menu {
        /* display: none; */
        width: 390px;
        height: 844px;
        background-color: #DCEEE6;
        text-align: center;
    }
    .menu-tittle {
        width: 90px;
        height: 33px;
        margin-top: 0px;
        margin-left: 140px;
        color: #000;
        font-size: 32px;
        text-transform: uppercase;
    }
    .menu nav ul li {
        list-style: none;
        width: 260px;
        height: 64px;
        margin: 23px;
        background-color: #51A884;
        color: #f0f0f0;
        border: 1px #000 solid;
        border-radius: 20px;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
    }
    .contact-menu {
        position: relative;
        height: 415px;
        width: 260px;
        border: 1px #000 solid;
        border-radius: 5px;
        background-color:  #51A884;
        left: 60px;
    }
    .contact-menu h3 {
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color:  #51A884;
        color: #f0f0f0;
        font-size: 32px;
        text-transform: uppercase;

    }
    .contact-menu ul li {
        align-items: center;
        list-style: none;
        padding: 10px;
        background-color:  #51A884;
        color: #f0f0f0;
        font-size: 20px;
    }
    .img-menu {
        align-items: center;
        width: 30px;
        height: 30px;
    }
    /*------Main-----*/
    .section-1 {
        height: 810px;
    }
    .text-section-1 > h1 {
        width: 292px;
        height: 110px;
        margin-top: 0px;
        margin-left: 125px;
        font-family: 'Mulish';
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
    }
    .text-section-1 > h2 {
        width: 357px;
        height: 104px;
        margin-left: 85px;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }
    .paragraph-sect-1 {
        width: 371px;
        height: 270px;
        margin-left: 85px;
        font-size: 20px;
        text-align: center;
    }
    .training-men {
        width: 249px;
        height: 268px;
        margin-left: 125px;
    }
    .section-2 {
        height: 833px;
    }
    .section-2 > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .appointment-info > h3 {
        width: 343px;
        height: 67px;
        margin-bottom: 0px;
        margin-top: 0px;
        background-color: #989898;
        border: 1px;
        border-color: #000;
        border-radius:5px;
        border-style: solid;
        font-size: 30px;
    }
    .appointment-info > p {
        display: none;
    }
    .membership-info > h3 {
        width: 343px;
        height: 67px;
        margin-bottom: 0px;
        margin-top: 0px;
        border: 1px;
        border-color: #000;
        border-radius:5px;
        border-style: solid;
        background-color: #989898;
        font-size: 30px;
    } 
    .membership-info > p {
        display: none;
    }
    .member-info > h3 {
        width: 343px;
        height: 67px;
        margin-bottom: 0px;
        margin-top: 0px;
        background-color: #989898;
        border: 1px;
        border-color: #000;
        border-radius:5px;
        border-style: solid;
        text-align: center;
        font-size: 30px;
    }
    .member-info > p {
        display: none;
    }
    .suggestion-info > h3 {
        width: 343px;
        height: 67px;
        margin-bottom: 0px;
        margin-top: 0px;
        background-color: #989898;
        border: 1px;
        border-color: #000;
        border-radius:5px;
        border-style: solid;
        text-align: center;
        font-size: 30px;
    }
    .suggestion-info > p {
        display: none;
    }
    .option-2-img {
        width: 108px;
        height: 108px;
    }
    .section-3 {
        display:flex;
        flex-direction: column;
        height: 556px;
    }
    .section-3 > h4 {
        height: 65px;
        width: 312px;
        margin-top: 0px;
        margin-left: 25%;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
    }
    .left-form input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 312px;
        height: 34px;
        margin-left: 25%;
        margin-bottom: 2%;
        border-radius: 5px;
    }
    .left-form > select {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 319px;
        height: 36px;
        margin-left: 25%;
        margin-bottom: 2%;
        border-radius: 5px;
        color: #a4d1a4;
    }
    ::placeholder {
        color: #a4d1a4;
    }
    .right-form > textarea {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 312px;
        height: 123px;
        margin-left: 25%;
        margin-bottom: 2%px;
        border-radius: 5px;
        color: #a4d1a4;
    }
    .right-form > button {
        width: 90px;
        height: 38px;
        margin-left: 24%;
        margin-top: 2%;
        background-color: #51A884;
        border-radius: 20px;
        border-color: #000;
        border-style: solid;
    }
    .img-button {
        width: 20px;
        height: 16px;
        margin-left: 1%;
    }
    .section-4 {
        height: 385px;
    }
    .section-4 > h3 {
        text-transform: uppercase;
        margin-top: 0px;
        font-size: 50px;
        text-align: center;
    }
    .section-4 > p {
        padding: 20px;
        font-size: 24px;
        text-align: justify;
    }
    .section-5 {
        display: flex;
        flex-direction: column;
        height: 571px;
    }
    .activities-list > h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        text-align: center;
    }
    .activities-list > ol {
        font-size: 16px;
        text-align: justify;
        padding-left: 230px;
    }
    .black-membership-list > h4 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }
    .black-membership-list > ul {
        margin: 0px;
    }
    .black-list-style {
        width: 282px;
        height: 120px;
        margin-left: 50px;
        font-size: 15px;
        text-align: justify;
    }
    .classic-membership-list > h4 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }
    .classic-membership-list > ul {
        margin: 0px;
    }
    .classic-list-style {
        width: 272px;
        height: 70px;
        margin-left: 50px;
        font-size: 15px;
        text-align: justify;
    }
    .only-membership-list > h4 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }
    .only-membership-list > ul {
        margin: 0px;
    }
    .only-list-style {
        width: 254px;
        margin-left: 50px;
        font-size: 15px;
        text-align: justify;
    }
    /*footer*/
    .footer {
        height: 83px;
        overflow: hidden;
    }
    .footer > p {
        margin-top: 0px;
        color: #000;
        font-size: 12px;
        text-align: center;
    }
    .footer > a > img {
        position: relative;
        width: 34px;
        height: 34px;
        left: 230px;
    }
}
/*other measures*/
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 1024px) {
}